@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.01em;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.group-hover\:animate-glow:hover {
  animation: glow 3s linear infinite;
}


@keyframes subtleGlow {
  0%, 100% { box-shadow: 0 0 10px rgba(255,255,255,0.2); }
  50% { box-shadow: 0 0 25px rgba(255,255,255,0.4); }
}

nav:hover div {
  animation: subtleGlow 3s infinite;
}
