body{
    background-color: rgb(41, 41, 41);
    font-family: monospace;
}

#title{
    border: 1px solid #3b3b3b;
	background-color: #3a3a3a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;

}

h2,
h3,
a {
	color: #f7f7f7;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #3b3b3b;
	background-color: #3a3a3a;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



.logo,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    font-family: monospace;
    color: #b8b8b8;
	font-size: 2vh;
    text-decoration: none;
}


.main-nav a:hover{
	color: #f1f1f1;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

#contactButton{
    background: rgb(43, 43, 43);
    border: 0px;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding: 12px 48px;
    border-radius: 8px;
    cursor: pointer;
}

.controlpanel{
    padding-top: 10vh;
	display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;

}

.controlpanel2{
    padding-top: 10vh;
	display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;

}

.content{
    margin: auto;
    width: 40%;
    border: 5px solid blue;
    margin-top: 40px;
    text-align: center;


}

.center{
    text-align: center;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}